body {
    background-color: black;
    color: #54DB54;
    font-size: x-large;
    margin: 0;
    padding: 0; 
    font-family: Reactor7;
    
    .demo-img {
        border: 3px solid #54DB54; 
        width:45%; 
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: 5%;
        margin-right: auto;
    }

    .demo-text {
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 30%;
    }

    .container {
        width: 1300px;
        height: 2000px;
        margin-left: auto;
        margin-right: auto;
        border-color: #54DB54;
        border-left-style: solid;
        border-right-style: solid;
        background-color: black;
    }

    .flex {
        display: flex;
        column-gap: 20px;
    }

    @font-face {
        font-family: Reactor7;
        src: url(Reactor7.tff);
    }
}